<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <appSettings>
    <!--home-->
    <!--<add key="pathImportJsonPredpr" value="G:\rep\hsscms_bo\data\predpr.json"/>-->
    
    <!--work-->
    <add key="pathImportJsonPredpr" value="q:\rep\hsscms_bo\data\predpr.json"/>
  </appSettings>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
  <connectionStrings>
    <!--
            connectionString="Data Source=dev02_a1by;Initial Catalog=Fuel;Integrated Security=False;User ID=DataCollecter; Password=DataCollecter" providerName="System.Data.SqlClient" />
    -->
    
    <!--home-->
    <!--<add name="CatalogOrganisationsContext" connectionString="data source=DESKTOP-MJ98R1P;initial catalog=CatalogOrganisations;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    
    <!--work-->
    <add name="CatalogOrganisationsContext" connectionString="data source=01ESC15\INST;initial catalog=CatalogOrganisations;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
</configuration>